* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bdd1e9;
}
.signup-container h2{
    color:#9452c9 ;
}
.signup-container {
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.signup-container h2 {
    
    margin-bottom: 0.7rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.password-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1rem;
}

.signup-btn {
    padding: 0.75rem;
    background-color: #9452c9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s;
}
.log p{
    margin-top: 10px;
    font-size: 13px;
}
.log p span{
    color: #9452c9;
    font-weight: 500;
    cursor: pointer;
   font-size: 16px;
}
.signup-container p{
    /* margin-bottom: 100px; */
    font-size: 12px;
}

